@page "/ConsultaClientes/InfoClientes/{PrioridadId:int}"
@inject ClientesService clienteService
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5>Detalles del cliente</h5>
        </div>
        <div class="card-body">
            <h6>ID de Cliente: @Cliente.ClienteId</h6>
            <p>Nombre: @Cliente.Nombre</p>
            <p>Celular: @Cliente.Celular</p>
            <p>Email: @Cliente.Email</p>
            <p>RNC: @Cliente.RNC</p>
            <p>Direcci&oacute;n @Cliente.Direccion</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Clientes Cliente = new Clientes();

    protected override async Task OnInitializedAsync() => Cliente = await clienteService.FindAsync(PrioridadId);
}